@import "reset";
@import "colors";
@import "mixins";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&family=Orbitron:wght@400;500;600;700&display=swap');

body {
    background: url('/assets/images/coming-out-bg.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron', sans-serif;
}
/* =LAYOUT ****/
.subpage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    .subpage__header {
        padding-top: 2rem;
        grid-column: span 6;
        .subpage__header-h1 {
            font-size: 4rem;
            line-height: 1.4;
            margin-bottom: .5rem;
            text-shadow: 0 0.2rem 0.1rem #202923;
            color: #ffff5a;
            text-align: center;
        }
    }
    .subpage__content {
        grid-column: span 4;
    }
    .subpage__aside {
        grid-column: span 2;
    }
    .subpage__footer {
        grid-column: span 6;
        .callout {
            grid-column: span 3;
        }
    }
}
.app-header {
    background-color: #202923;
    height: 60px;
    padding: 0 1rem;
}
.nav {
    $self: &; 
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    display: inline-block;
    padding: .5rem 0;
    .nav__container {
        width: 100%;
        display: flex;
        align-items: center;
        align-content: center;
    }
    .nav__brand {
        display: inline-block;
        flex: 1;
        .nav__brand-logo {
            width: 200px;
        }
    }
    .nav__item-wrapper {
        display: flex;
        align-items: flex-start;
    }
    .nav__item {  
        color: #ffff5a;
    }
    
    .nav__link { 
        color: #ffff5a; 
        background-color: #202923;
        padding: .7rem 1rem;
        text-decoration: none; 
        line-height: 1;
        text-decoration: none;
        display: inline-block;
        font-weight: 600;
        
        &.nav__link--active { 
            color: #202923;
            background-color: #86bc3d;
            text-decoration: none; 
        }
    }
}
section#home {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 2rem;
    grid-template-columns: 300px 1fr 300px;
    gap: 1rem;
}
.callout {
    position: relative;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 1px solid rgba(10,10,10,.25);
    border-radius: 0;
    background-color: $black;
    color: $white;
    h4 {
        color: $yellow;    
        font-size: 1.125rem;
        line-height: 1.4;
        margin-top: 0;
        margin-bottom: .5rem;
    }
    p {
        margin-bottom: 1rem;
        font-size: inherit;
        line-height: 1.6;
        text-rendering: optimizeLegibility;
    }
    .button {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 1rem 0;
        font-family: inherit;
        padding: .85em 1em;
        -webkit-appearance: none;
        border: 1px solid transparent;
        border-radius: 0;
        -webkit-transition: background-color .25s ease-out,color .25s ease-out;
        transition: background-color .25s ease-out,color .25s ease-out;
        font-size: .9rem;
        line-height: 1;
        text-align: center;
        cursor: pointer;
        background-color: #86bc3d;
        color: #fefefe;
    }
    .button.small {
        font-size: .75rem;
    }
    
    [data-whatinput=mouse] .button {
        outline: 0;
    }
}
